services:
  oci-creator:
    container_name: oci-creator
    build:
      context: .
    ports:
      - "3000:3000"
    volumes:
      - ./logs:/app/logs
    env_file:
      - .env
    restart: always
